.wrapper {
  width: 75%;
  margin: 0 auto
}

h3 {
  margin-bottom: 0;
}

p {
  margin-top: 2px;
}

h1 {
  color: #00a1bc
  
}

body {
  background-color: #151515;
  color: #fff;
}

input {
  margin-left: 10px;
}
